body {
  color: #538d4e;
  width: 300px;
  font-size: 16px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}

#answer{
  padding: 0px 10px 20px 10px;
  font-size: 22px;
  border: none;
  color: #538d4e;
  background-color: #ffffff;
}

#answer>p{
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 10px 10px 10px 10px;
}

#answer>a:link, #answer>a:visited {
  color: #538d4e;
  text-decoration: none;
}

#answer>p:hover, #answer>a:hover{
  /* text-decoration: underline; */
  background-color: #538d4e;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
}